* {
    box-sizing: content-box;
    font-family: Helvetica, sans-serif;
    }

.header-nav {
    background-color:white;
    position: sticky;
    top: 0px;
}

.header-nav li {
    display: inline-block;
    text-align: center;
    width: 80px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.header-nav a {
    color:blue;
    text-decoration: none;
    font-weight:300;
}

.header-nav a:hover {
    text-decoration: line-through;
    font-weight: 600;
}

.header-nav a:active {
    color:red;
    text-decoration: none;
}